* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Montserrat";
}

body{
  background-color: #2b2922;
  background-size: cover;
}
/* ------------------------------ */
/* ---------- NAVBAR ------------ */
/* ------------------------------ */
nav{
  display: flex;
  align-items: center;
  padding: 50px 100px;
}

nav ul{
  margin-left: 20vw;
  list-style-type: none;
  display: flex;
  gap: 50px;
  color: #74726b;
}
nav ul>li:first-child{
  font-weight: 700;
  color: #ffffff;
}
button.button-small{
  margin-left: 50px;
  background-color: transparent;
  color: #958634;
  height: 60px;
  width: 180px;
  border-radius: 10px;
  font-size: 18px;
  font-weight: 700;
  border: 2px solid #958634;
}
/* ------------------------------ */
/* ---------- HERO ------------ */
/* ------------------------------ */
section[aria-label="hero"]
{
  
  padding:  0px 70px;
  display: flex;
  flex-direction: column;
}

div.hero{
  display: flex;
  align-items: center; 
  justify-content: space-between;
}

h1.hero-heading{
  font-size: 70px;
  font-weight: 900;
  min-width: 600px;
  color: #ffffff;
}

p.hero-body{

  /* padding: 40px 0px;   */
  font-size: 20px;
  padding: 0px 160px;
  line-height: 1.7;
  /* font-size: 18p1x; */
  color: #c4c2c0;
}

div.bottom{
  position: absolute;
  background: url('assets/justice_cropped2.jpg');
  background-size: cover;
  background-position: center center;
  width: 100vw;
  height: 300px;
  bottom: 80px;
  z-index: -1;
  right: 0px;
}

div.bottom>div{
  position: absolute;
  bottom: -75px;
  right: 0px;
  display: flex;
}

div.button-large-prev,div.button-large-next{
  position: relative;
  font-size: 60px;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 120px;
  height: 75px;
  text-align: center;
}


div.button-large-prev{
  
  background-color: #39372d;
  color: #a08f36;
}

div.button-large-prev::before{
  position: absolute;
    content: '';
    height: 45px;
    width: 45px;
    border-radius: 50%;
    background-color: transparent;
    top: 15px;
    left: 33px;
    color: transparent;
    border: 2px solid #a08f36;
}

div.button-large-next{
  background-color: #a08f36;
  color: #ffffff;
}

div.button-large-next::before{
  position: absolute;
    content: '';
    height: 45px;
    width: 45px;
    border-radius: 50%;
    background-color: transparent;
    top: 15px;
    left: 33px;
    color: transparent;
    border: 2px solid #ffffff;
}